:root {
  --bg: #fdfdfd;
  --meta: #888;
  --accent: #3178cd;
  --text: black;
  --detail: #ead1dcff;
  --base: 1.5rem;
}

.subtitle {
  font-size: 28px;
  color: var(--meta);
}

.article-reference {
  font-size: 14px;
  color: var(--accent);
}

.quote {
  font-size: 28px;
  font-style: italic;
}

.slide {
  font-size: 28px;
  margin-bottom: 3vh;  
}

.centralized-image {
  display: block;
  margin: auto;
  margin-bottom: 3%;
  width: 75%;
  height: 70%;
}

.logo {
  display: block;
  margin: auto;
  margin-bottom: 3%;
  width: 50%;
  height: 50%;
}

.image-01 {
  display: block;
  margin: auto;
  width: 45%;
  height: 40%;
}

.image-04 {
  display: block;
  margin: auto;
  margin-bottom: 3%;
  width: 70%;
  height: 65%;
}

.thanks {
  text-align: center;
  vertical-align: middle;
  font-size: 54px;
  margin-bottom: 3vh;
}

.thanks .restart {
  font-size: 14px;
}

.thanks .restart a {
  text-decoration: none;
  color: var(--meta);
}

.detail {
  margin-bottom: 2vh;
}

.detail i {
  color: var(--detail);
  font-size: 64px;
}