@media only screen and (max-width: 768px) {
  :root {
    --small-text: 1rem;
    --regular-text: 1rem;
    --large-text: 1.5rem;
  }

  .quote {
    font-size: var(--regular-text);
    font-style: italic;
    margin: 0 3vw 7vh 3vw;
  }
  
  .content {
    margin: 0 3vw 5vh 3vw;
    font-size: var(--regular-text);
  }

  .logo {
    display: block;
    margin: auto;
    width: 80vw;
    max-width: 400px;
    height: 50vh;
    position: relative;
    top: 15vh;
  }

  .image-01 {
    display: block;
    margin: auto;
    width: 80vw;
    max-width: 500px;
    height: 30vh;
  }

  .image-04 {
    width: 90vw;
    height: 30vh;
    margin: 0 0 5vh 0;
  }

  .centralized-image {
    display: block;
    margin: auto;
    margin-bottom: 3vh;
    width: 90vw;
    height: 30vh;
  }

  .centralized-logo {
    display: block;
    margin: auto;
    margin-bottom: 3vh;
    width: 75vw;
    height: 75vh;
  }

  .mobile-instructions {
    display: block;
    user-select: none;
    font-size: var(--small-text);
    color: var(--meta);

    align-items: center;
    height: 10vh;
  }

  .mobile-instructions a {
    color: var(--meta);
    text-decoration: none;
  }
  
  .mobile-instructions a:hover {
    color: var(--accent);
  }

  .thanks {
    height: 5vh;
    vertical-align: middle;
  }

  header {
    font-size: var(--small-text);
  
    position: fixed;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100vw;
    padding: 20px;
  
    user-select: none;
  }

  footer {
    display: none !important;
  }

  .detail {
    margin-bottom: 2vh;
  }
  
  .detail i {
    color: var(--detail);
    font-size: 48px;
  }
}