@media only screen and (min-device-width: 300px) and (max-device-width: 833px) {
  :root {
    --small-text: 0.8rem;
    --regular-text: 1.1rem;
    --large-text: 1.5rem;
  }

  .mobile-instructions {
    display: block;
    user-select: none;
    font-size: var(--small-text);
    color: var(--meta);

    align-items: center;
    height: 10vh;
  }

  .mobile-instructions a {
    color: var(--meta);
    text-decoration: none;
  }
  
  .mobile-instructions a:hover {
    color: var(--accent);
  }

  .instructions {
    text-align: center;
  }

  .instructions a {
    color: var(--meta);
    text-decoration: none;
  }

  .instructions a:hover {
    color: var(--accent);
  }

  .quote {
    font-size: var(--regular-text);
    font-style: italic;
    margin: 3vh 7vw 7vh 7vw;
  }

  .content {
    margin: 0 7vw 4vh 7vw;
    font-size: var(--regular-text);
  }

  .slide {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100vw;
    height: 100vh;

    padding: 1rem; 

    -webkit-overflow-scrolling: touch;
  }

  .slide ul {
    text-align: left;
    margin-left: 32px;
  }

  .centralized-image {
    margin: auto;
    padding-bottom: 5vh;
    width: 90vw;
    max-width: 700px;
  }

  .logo {
    display: block;
    margin: auto;
    width: 70vw;
    max-width: 640px;
  } 

  .image-01 {
    display: block;
    margin: auto;
    width: 75vw;
    max-width: 350px;
  }

  .image-04 {
    display: block;
    margin: auto;
    width: 90vw;
    max-width: 700px;
    margin-bottom: 5vh;
  }

  .image-05 {
    margin: auto;
    width: 95vw;
    max-width: 800px;
  }

  .thanks {
    font-size: var(--large-text);
    text-align: center;
    vertical-align: middle;
    margin-bottom: 3vh;
  }

  .detail {
    margin-bottom: 2vh;
    margin-top: 5vh;
  }
  
  .detail i {
    color: var(--detail);
    font-size: 36px;
  }

  header {
    font-size: var(--small-text);
  
    position: fixed;
    top: 0;
    left: 0;
  
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100vw;
  
    user-select: none;
  }
  
  footer {
    display: none;
  }  

  .commands {
    display: none;
  }
}