@media only screen and (min-width: 2000px) {
  :root {
    --small-text: 1.5rem;
    --regular-text: 2rem;
    --large-text: 3rem;
  }

  .logo {
    display: block;
    margin: auto;
    width: 85vw;
  } 

  .image-01 {
    display: block;
    margin: auto;
    width: 60vw; 
  }

  .image-04 {
    display: block;
    margin: auto;
    width: 100%;
  }

  .centralized-image {
    display: block;
    margin: auto;
    margin-bottom: 3%;
    width: 95vw;
  }

  header {
    font-size: 75%;
  
    position: fixed;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    padding: 20px;
  
    user-select: none;
  }
  
  footer {
    font-size: 75%;
  
    position: fixed;
    bottom: 0;
    left: 0;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    padding: 50px;
  
    user-select: none;
  }

  .commands {
    font-size: var(--small-text);
  }
}